# Byte-compiled / cached
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.spec

# IDE / Editor settings
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db